kdsf-basis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE schema [
	<!ENTITY kdsf-owl "http://kerndatensatz-forschung.de/owl/Basis#">
]>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:kdsf-basis="http://kerndatensatz-forschung.de/version1.2/technisches_datenmodell/xsd/kdsf-basis.xsd" xmlns:cf="urn:xmlns:org:eurocris:cerif-1.6-2" targetNamespace="http://kerndatensatz-forschung.de/version1.2/technisches_datenmodell/xsd/kdsf-basis.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.2">
	<xs:import namespace="urn:xmlns:org:eurocris:cerif-1.6-2" schemaLocation="CERIF_1.6_2.xsd"/>
	<xs:element name="kdsf-basis">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Organisationseinheit" type="kdsf-basis:Organisationseinheit__Type" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Person" type="kdsf-basis:Person__Type" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Drittmittelprojekt" type="kdsf-basis:Drittmittelprojekt__Type" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="StrukturiertesPromotionsprogramm" type="kdsf-basis:StrukturiertesProgramm__Type" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Patent" type="kdsf-basis:Patent__Type" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="Ausgründung" type="kdsf-basis:Ausgründung__Type" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="Publikation" type="kdsf-basis:Publikation__Type" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Forschungsinfrastruktur" type="kdsf-basis:Forschungsinfrastruktur__Type" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="Organisationseinheit__Key">
			<xs:selector xpath="kdsf-basis:Organisationseinheit/cf:cfOrgUnitId"/>
			<xs:field xpath="."/>
		</xs:key>
		<xs:key name="Person__Key">
			<xs:selector xpath="kdsf-basis:Person/cf:cfPersId"/>
			<xs:field xpath="."/>
		</xs:key>
		<xs:key name="Drittmittelprojekt__Key">
			<xs:selector xpath="kdsf-basis:Drittmittelprojekt/cf:cfProjId"/>
			<xs:field xpath="."/>
		</xs:key>
		<xs:key name="StrukturiertesPromotionsprogramm__Key">
			<xs:selector xpath="kdsf-basis:StrukturiertesPromotionsprogramm/kdsf-basis:ID"/>
			<xs:field xpath="."/>
		</xs:key>
		<xs:key name="Patent__Key">
			<xs:selector xpath="kdsf-basis:Patent/cf:cfResPatId"/>
			<xs:field xpath="."/>
		</xs:key>
    <xs:key name="Ausgründung__Key">
      <xs:selector xpath="kdsf-basis:Ausgründung/kdsf-basis:ID"/>
      <xs:field xpath="."/>
    </xs:key>
		<xs:key name="Publikation__Key">
			<xs:selector xpath="kdsf-basis:Publikation/cf:cfResPublId"/>
			<xs:field xpath="."/>
		</xs:key>
		<xs:key name="Forschungsinfrastruktur__Key">
			<xs:selector xpath="kdsf-basis:Forschungsinfrastruktur/cf:cfEquipId"/>
			<xs:field xpath="."/>
		</xs:key>
	</xs:element>
	<xs:element name="FachId" type="cf:cfId__Type"/>
	<xs:element name="ForschungsfeldId" type="cf:cfId__Type"/>
	<xs:element name="cfOrgUnitId" type="cf:cfId__Type"/>
	<xs:element name="FinanzierungsformId" type="cf:cfId__Type"/>
	<xs:element name="QualifizierungsverfahrenId" type="cf:cfId__Type"/>
	<xs:element name="BefristungId" type="cf:cfId__Type"/>
	<xs:element name="PersonalkategorieId" type="cf:cfId__Type"/>
	<xs:element name="TaetigkeitsartId" type="cf:cfId__Type"/>
	<xs:element name="BesoldungId" type="cf:cfId__Type"/>
	<xs:element name="ProfessurenbezeichnungId" type="cf:cfId__Type"/>
	<xs:element name="KooperationId" type="cf:cfId__Type"/>
	<xs:element name="MittelgeberId" type="cf:cfId__Type"/>
  <xs:element name="ÜbergeordnetesProjektId" type="cf:cfId__Type"/>
	<xs:element name="SprecherId" type="cf:cfId__Type"/>
	<xs:element name="DokumenttypId" type="cf:cfId__Type"/>
	<xs:element name="PublikationstypId" type="cf:cfId__Type"/>
  <xs:element name="VerlagId" type="cf:cfId__Type"/>
  <xs:element name="NameDerQuelleId" type="cf:cfId__Type"/>
  <xs:element name="FormatId" type="cf:cfId__Type"/>
  <xs:element name="QualifikationsschriftId" type="cf:cfId__Type"/>
  <xs:element name="DarstellungsformId" type="cf:cfId__Type"/>
	<xs:element name="ArtDerForschungsinfrastrukturId" type="cf:cfId__Type"/>
	<xs:element name="TypDerForschungsinfrastrukturId" type="cf:cfId__Type"/>
	<xs:element name="ArtDesZugangsId" type="cf:cfId__Type"/>
  <xs:element name="Nutzung" type="cf:cfId__Type"/>
  <xs:element name="BetriebspersonalId" type="cf:cfId__Type"/>
	<xs:complexType name="Organisationseinheit__Type">
		<xs:complexContent>
			<xs:extension base="cf:cfOrgUnit__Type"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Person__Type">
		<xs:complexContent>
			<xs:extension base="cf:cfPers__Type">
				<xs:sequence>
					<xs:element name="Altersgruppe" type="kdsf-basis:Altersgruppe__Type" minOccurs="0"/>
					<xs:element name="Qualifizierungsverfahren" type="kdsf-basis:Qualifizierungsverfahren__Type" minOccurs="0"/>
					<xs:element name="Beschaeftigung" type="kdsf-basis:Beschaeftigung__Type" minOccurs="0">
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Altersgruppe__Type">
		<xs:attribute name="min" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="max" type="xs:positiveInteger" use="required"/>
	</xs:complexType>
	<xs:complexType name="Qualifizierungsverfahren__Type">
		<xs:sequence>
			<xs:element name="AltersgruppeBeiAbschluss" type="kdsf-basis:Altersgruppe__Type" minOccurs="0"/>
			<xs:element name="Abschlusszeitpunkt" type="xs:date" minOccurs="0"/>
			<xs:element ref="kdsf-basis:QualifizierungsverfahrenId"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Beschaeftigung__Type">
		<xs:sequence>
			<xs:element ref="kdsf-basis:FachId" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="kdsf-basis:ForschungsfeldId" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="kdsf-basis:cfOrgUnitId" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="kdsf-basis:PersonalkategorieId"/>
			<xs:element ref="kdsf-basis:BefristungId" minOccurs="0"/>
			<xs:element ref="kdsf-basis:FinanzierungsformId" minOccurs="0"/>
			<xs:element ref="kdsf-basis:TaetigkeitsartId" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProfessorenBeschaeftigung__Type">
		<xs:complexContent>
			<xs:extension base="kdsf-basis:Beschaeftigung__Type">
				<xs:sequence>
					<xs:element ref="kdsf-basis:BesoldungId" minOccurs="0"/>
					<xs:element ref="kdsf-basis:ProfessurenbezeichnungId" minOccurs="0"/>
					<xs:element name="GemeinsameBerufung" type="kdsf-basis:GemeinsameBerufung__Type" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GemeinsameBerufung__Type">
		<xs:sequence>
			<xs:element name="NameDerWeiterenEinrichtung" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Drittmittelprojekt__Type">
		<xs:complexContent>
			<xs:extension base="cf:cfProj__Type">
				<xs:sequence>
					<xs:element ref="kdsf-basis:FachId" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="kdsf-basis:ForschungsfeldId" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="kdsf-basis:MittelgeberId" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="kdsf-basis:cfOrgUnitId" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="kdsf-basis:ÜbergeordnetesProjektId" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Drittmitteleinnahmen" type="kdsf-basis:Betrag__Type" minOccurs="0"/>
					<xs:element name="Drittmittelertraege" type="kdsf-basis:Betrag__Type" minOccurs="0"/>
					<xs:element name="Koordinationsrolle" type="xs:boolean" minOccurs="0"/>
					<xs:element name="KoordinatorEinrichtung" type="xs:string" minOccurs="0"/>
					<xs:element name="Foerderorganisation" type="xs:string" minOccurs="0"/>
					<xs:element name="WissenschaftlicheProjektleiter/-in" type="xs:string" minOccurs="0"/>
					<xs:element name="ZwecksdesProjekts" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StrukturiertesProgramm__Type">
		<xs:sequence>
			<xs:element name="Titel" type="xs:string"/>
			<xs:element name="ID" type="cf:cfId__Type"/>
			<xs:element ref="kdsf-basis:FachId" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="kdsf-basis:ForschungsfeldId" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="kdsf-basis:cfOrgUnitId" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="kdsf-basis:FinanzierungsformId" minOccurs="0"/>
			<xs:element ref="kdsf-basis:KooperationId" minOccurs="0"/>
			<xs:element name="BeteiligteEinrichtungen" type="kdsf-basis:BeteiligteEinrichtungen__Type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="kdsf-basis:SprecherId" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BeteiligteEinrichtungen__Type">
		<xs:sequence>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="Land" type="cf:cfCountry__Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Patent__Type">
		<xs:complexContent>
			<xs:extension base="cf:cfResPat__Type">
				<xs:sequence>
					<xs:element ref="kdsf-basis:FachId" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="kdsf-basis:ForschungsfeldId" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="kdsf-basis:cfOrgUnitId" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
  <xs:complexType name="Ausgründung__Type">
        <xs:sequence>
					<xs:element name="Name" type="xs:string"/>
					<xs:element ref="kdsf-basis:FachId" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="kdsf-basis:ForschungsfeldId" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="kdsf-basis:cfOrgUnitId" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
  </xs:complexType>
	<xs:complexType name="Publikation__Type">
		<xs:complexContent>
			<xs:extension base="cf:cfResPubl__Type">
				<xs:sequence>
					<xs:element ref="kdsf-basis:FachId" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="kdsf-basis:ForschungsfeldId" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="kdsf-basis:cfOrgUnitId" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="kdsf-basis:DokumenttypId" minOccurs="0"/>
					<xs:element ref="kdsf-basis:PublikationstypId" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Forschungsinfrastruktur__Type">
		<xs:complexContent>
			<xs:extension base="cf:cfEquip__Type">
				<xs:sequence>
					<xs:element ref="kdsf-basis:ArtDerForschungsinfrastrukturId" minOccurs="0"/>
					<xs:element name="Nutzung" type="kdsf-basis:Nutzung__Type" minOccurs="0"/>
					<xs:element ref="kdsf-basis:TypDerForschungsinfrastrukturId" minOccurs="0"/>
					<xs:element ref="kdsf-basis:ArtDesZugangsId" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Nutzung__Type">
		<xs:sequence>
			<xs:element name="AnzahlGenutzteStunden" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="AnzahlNutzer" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="AnzahlNutzungszugriffe" type="xs:nonNegativeInteger" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Betrag__Type">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
